body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  gap: 50px;
  align-items: center;
}

#animalCreation {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: darkolivegreen;
  padding: 20px;
}

#animalCreation form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#animalHabitats {
  /* padding: 10px; */
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.habitat {
  width: 200px;
  height: 200px;
  border: 1px dotted #000;
}

.Emoji {
  font-size: 36px;
  display: inline-block;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  font-size: small;
  visibility: hidden;
  width: 160px;

  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.savannahtooltip {
  background-color: #fa6305;
}

.jungletooltip {
  background-color: #1dfa05;
}

.aquariumtooltip {
  background-color: #05acfa;
}

.reptiletooltip {
  background-color: #facd05;
}

.tooltip .Emoji::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.Emoji:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}